@use '../../app/styles/variables' as *;

.breadcrums {

  margin: 65px 0 130px 0;
  font-weight: 400;
  font-size: 18px;

  @media(max-width: $medium-size) {
    padding: $padding;
  }

  @media(max-width: $mobile-size) {
    margin: 46px 0 29px 0;
    font-weight: 300;
    font-size: 12px;

  }
}

.last_page_text {
  color: $active-page-color-text;
}

.home_page_text {
  color: $home-page-text;


}