@use '../../app/styles/variables' as *;

.categories {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 52px;



  @media(max-width: $medium-size) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 20%;
    column-gap: 1%;
    padding: $padding;
  }
}

.category_button {
  font-family: $fira-sans ;
  font-weight: 400;
  font-size: 1.3rem;
  box-shadow: 8px 15px 29px 0 rgba(23, 27, 44, 0.41);
  background: #313341;
  border: none;
  border-radius: 7px;
  padding: 10px 2vw;
  height: 49px;
  color: #eef3ff;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: #ffffff17;
  }

  @media(max-width:$mobile-size) {
    font-size: 12px;
    padding: 0;
    max-height: 33px;
  }
}

.active {
  background: #2d76f9;

  &:hover {
    background: #2d76f9;
  }

}