@use '../../app/styles/variables' as *;

.title {
  font-family: $fira-sans ;
  font-weight: 600;
  font-size: 48px;
  color: #eef3ff;
  margin-bottom: 65px;

  @media(max-width: $medium-size) {
    padding: $padding;
  }

  @media(max-width: $mobile-size) {
    font-size: 21px;
    margin-bottom: 47px;
    font-family: $rubik;
    margin-bottom: 47px;
  }
}

