.header {
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-area: header;
  box-shadow: 0 2px 3px 0 rgba(155, 155, 155, 0.15);
  background: #20212c;
  height: 68px;
  padding: 0 28px;

  @media(min-width: 1070px) {
    display: none;
  }
}

.menu_button {
  background-color: transparent;
  border: none;
  align-self: center;
  justify-self: end;
}
