.header {

  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media(min-width: 710px) {
    display: none;
  }
}

.menu_button {
  background-color: transparent;
  border: none;
  align-self: center;
  justify-self: end;
}

.logo {}