$background-color: linear-gradient(180deg, #24252f 0%, #31313f 36.46%, #242530 100%);
$main-text-color: white;
$additional-text-color: #9AA8BA;
$mobile-menu: #24252f;
$open-sans: "Open Sans", serif;
$fira-sans: "Fira Sans", serif;
$rubic: "Rubik", serif;