.categories {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.catygory_button {
  font-weight: 400;
  font-size: 24px;
  box-shadow: 8px 15px 29px 0 rgba(23, 27, 44, 0.41);
  background: #313341;
  border: none;
  border-radius: 7px;
  padding: 10px 29px;
  height: 49px;
}