@use '../../shared/styles/variables' as vars;

.mobile_menu {
  background-color: vars.$mobile-menu;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.close_button {
  background-color: transparent;
  border: none;
}