@use '../../app/styles/variables' as *;

.forms_section {
  font-family: $fira-sans;
  height: 739px;
}

.wripper {
  @media(max-width: $medium-size) {
    background-color: $background-mobile-forms;
    padding: $padding;
    padding-top: 51px;
    margin-top: 48px;
  }
}

.forms {
  display: grid;
  grid-template-areas:
    'name email phone'
    'message message message'
    'checkbox checkbox .'
    '. button .'
    '. popup. '
  ;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 38px;

  @media(max-width: $medium-size) {
    margin-top: 32px;
    grid-template-areas:
      'name '
      'email'
      'phone'
      'message'
      'button'
      'description'
      'popup'
    ;
    grid-template-columns: 1fr;
    gap: 22px;
    grid-template-rows: auto auto auto 139px auto;
  }

}

.title_block {
  display: flex;
  align-items: center;
  gap: 28px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: #eff3ff;
  max-width: 361px;

  @media(max-width:$mobile-size) {
    font-weight: 500;
    font-size: 24px;
  }
}

.form_icon {
  @media(min-width:$mobile-size) {
    display: none;
  }
}

.fieldset {
  border: 1.50px solid #9aa8ba;
  border-radius: 8px;
  height: 61px;
  padding-left: 24px;

  @media(max-width: $medium-size) {
    padding: 0;
  }

  legend {
    padding: 0 10px;
    color: #eff3ff;

    @media(max-width: $medium-size) {
      display: none;

    }
  }
}

.input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: white;
  outline: none;
  border: none;
  // margin-bottom: 10px;
  padding-left: 13px;

  &::placeholder {
    color: transparent;

    @media(max-width: $medium-size) {
      color: $placeholder-color;
      font-weight: 400;
      font-size: 13px;
      font-family: $open-sans;

    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px rgb(43, 44, 55) inset !important;
    border-radius: 5px;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
  }
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.message {
  grid-area: message;
  height: 139px;
  padding-top: 8px;
  font-size: 15px;
}

.checkbox {
  grid-area: checkbox;
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    font-weight: 300;
    font-size: 18px;
    color: #eff3ff;
  }

  @media(max-width: $medium-size) {
    display: none;
  }
}

.error_validation {
  color: tomato;
  font-size: 10px;
}

.description {
  font-family: $open-sans;
  grid-area: description;
  justify-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  text-align: center;

  @media(min-width: $medium-size) {
    display: none;
  }
}